@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.bid_container{
    margin: 0.2rem 1rem;
    display: block;
    align-content: center;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(230, 6, 6, 0.3);
}
.main_container{
    margin: 0.2rem 0;
    display: block;
    align-content: center;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.3);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}
div.main-control-container {
    margin: 0.2rem 1rem;
    background: rgba(7, 7, 7, 0.27);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
    padding-left: 1rem;
    padding-right: 1.5rem;
    display: block;
    align-content: center;
}
form{
    padding: 1rem;
    margin: 1rem 0.2rem;
    display: block;
    align-content: center;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.3);
}
.form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}
form input[type=number], input[type=password], input[type=text], input[type=email] {
    height: 2.5rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 0.2rem solid #ddd;
    border-radius: 1rem;
    outline: none;
    letter-spacing: 0.3rem;
}
form input[type=submit]{
    color: #fff;
    width: 75%;
    margin-left: 12.5%;
    padding: 0.4rem;
    background: #009579;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.4s;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: bolder;
}
form input[type=radio] {

}
form input:hover {
    background-color: rgba(244, 60, 5, 0.4);
    color: black;
}
.form input:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);

}
.form a{
    font-size: 16px;
    color: #009579;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form input.button:hover{
    background: #006653;
}
* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 0.5rem;
}
.sub-header {
    background-color: #34a5d5;
    color: #ffffff;
    padding: 1px;
    margin-bottom: 0.5rem;
}
.footer {
    background-color: #3369cc;
    border-radius: 1rem;
    text-align: center;
    display: block;
    color: #edcf08;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgb(4, 221, 241);
    border-bottom: 0.2rem solid #3375cc;
    border-top: 0.1rem;
    padding-top: 0.3rem;
}
a:link, a:visited {
    background-color: wheat;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
    color: white;
}
.error {
    color: red;
}
.success {
    color: green;
}
.innings {
    background-color: cadetblue;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 0.5rem;
}
.play_container {
    background-color: mediumseagreen;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 0.5rem;
}
.sub-header-2 {
    background-color: #3369cc;
    color: #ffffff;
    padding: 1px;
    margin-bottom: 0.5rem;
}
.gap {
    width: 100%;
    margin-bottom: 1rem;
}
div.small-gap {
    width: 100%;
    margin-bottom: 0.5rem;
}
.hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
    height:2px;
    color:gray;
    background-color:gray
}
.body {
    background-image: url("https://crickettimes.com/wp-content/uploads/2023/12/ipl-2024-complete-squads.webp");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}
.form label[name=slot] {
    height: 35px;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    display: block;
}

tr.win {
    outline-color: green;
    outline-style: solid;
    color: green;
}
tr.loss {
    outline-color: red;
    outline-style: solid;
    color: red;
}
tr.cancel {
    outline-color: #38d7b8;
    outline-style: solid;
    color: #0f1060;
}
a.play {
    border-radius: 50px;
    display: block;
    background-color: #24f104;
    color: black;
}
a.live {
    border-radius: 50px;
    background-color: #83fa04;
    display: block;
    margin-bottom: 0.75rem;
}
div.bid_details_success {
    border-radius: 10px;
    padding: 15px;
    display: block;
    background-color: darkseagreen;
    color: black;
    margin-bottom: 0.5rem;
    font-size: 17px;
}
a.cancel_bid {
    border-radius: 50px;
    background-color: #fa0404;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 17px;
}
.scorecard {
    background-color: #24f104;
    color: #104d9e;
    padding: 15px;
    margin-bottom: 0.5rem;
    font-size: 20px;
    display: flex;
}
.team1 {
    float: left;
    width: 40%
}
.team2 {
    text-align: right;
    float: right;
    width: 40%;
}
a.button {
    display: block;
    min-width: 10%;
    border-radius: 0.5rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: bolder;
    white-space: nowrap;
    padding: 0.7rem;
    margin: 0.5rem;
}

div.separator {
    border: 0.01rem solid #000000;
    margin: 1rem;
}
div.small-separator {
    border: 0.01rem solid #000000;
    margin: 0.25rem 1.5rem;
}
div.title-container {
    background-color: #3369cc;
    border-radius: 1rem;
    text-align: center;
    display: block;
    color: #edcf08;
    font-size: 2rem;
    margin-bottom: 1rem;
}

div.scorecard-container {
    margin: 0.2rem 0.5rem;
    display: block;
    align-content: center;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(26, 140, 9, 0.5);
    padding: 0.5rem;
}
div.match-detail {
    display: block;
    align-content: center;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.3);
}
div.teams_details {
    width: 50%;
    background-color: rgba(76, 213, 55, 0.5);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
div.vs {
    background-color: rgba(76, 213, 55, 0.5);
    border: 0.1rem solid #339ecc;
    border-radius: 0.5rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

div.players {
    display: flex;
}
div.players_container {
    background-color: rgba(76, 213, 55, 0.5);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
div.batsmen {
    width: 50%;
    padding: 1rem;
}
div.current-over {
    width: 60%;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
div.get-previous-over {
    width: 40%;
    text-align: right;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
a.show-more-over {
    border: 0.1rem solid rgba(26, 140, 9, 0.62);
    border-radius: 1rem;
    text-align: center;
    color: rgb(7, 7, 7);
    font-weight: bolder;
    padding: 0.2rem 0.75rem;
}
div.balls-container {
    display: flex;
    padding-bottom: 0.2rem;
}
div.balls-container-extra {
    display: flex;
    padding-bottom: 0.2rem;
}
div.balls {
    background-color: #ffffff;
    border: 0.2rem solid rgba(26, 140, 9, 0.47);
    border-radius: 5rem;
    text-align: center;
    color: #070707;
    font-weight: bolder;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}
div.balls-extra {
    background-color: #ffffff;
    border: 0.1rem solid #ccb833;
    border-radius: 2rem;
    text-align: center;
    color: #070707;
    font-weight: bolder;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}
div.controls {
    background-color: #21cd07;
    border-radius: 20px;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid #f90606;
    padding: 0.1rem;
}
div.play-container {
    background-color: rgba(7, 7, 7, 0.29);
    border-bottom: 0.2rem solid #f90606;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    box-shadow: 0 1rem 1rem rgba(250, 4, 4, 0.5);
}

div.bid_slot {
    width: 25%;
}
span.title {
    font-weight: bolder;
}
iframe {
    height: 100%;
    width: 100%;
}
div.bid_button_div {
    width: 50%;
}
a.bid_button {
    display: block;
    margin: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(7, 7, 7, 0.31), 0 0 1rem rgba(0,0,0,0.24);
    font-weight: bolder;
    white-space: nowrap;
}
div.title {
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #f90606;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.34);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}
div.bid-failure-title {
    font-size: 1.5rem;
    background: rgba(255, 0, 0, 0.35);;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #f90606;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.34);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}
div.bid-success-title {
    background: rgba(33, 205, 7, 0.5);
    font-size: 1.3rem;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #1a8c09;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.43);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}
div.sub-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #edcf08;
    box-shadow: 0 0.5rem 0.5rem rgba(237, 207, 8, 0.4);
    padding: 0.3rem;
    color: wheat;
    background: #009579;
}
div.control-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid grey;
    box-shadow: 0 0.5rem 0.5rem grey;
    padding: 0.3rem;
}
label.label {
    display: block;
    position: relative;
    font-size: 1rem;
    padding: 0 0 0 1rem;
    margin: 1rem auto;
}
a.match-button {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: bold;
    font-size: 0.9rem;
}
a.control-button {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: normal;
    font-size: 0.9rem;
}
p.no-more-over-para {
    text-align: right;
    padding-right: 1rem;
    color: red;
}
div.more_over_div {
    width: 25%;
    text-align: right;
    padding-top: 0.3rem;
    padding-right: 1.5rem;
    font-style: italic;
}
div.slot_container {
    display: block;
    align-content: normal;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgb(250, 4, 4, 0.5);
    padding-bottom: 0.2rem;
}
div.slot {
    display: flex;
    margin: 1rem;
}

label.container {
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
span.radio {
    position: absolute;
    top: 0;
    left: 7rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
label.container:hover input ~ span.radio {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.container input:checked ~ span.radio {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
span.radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
label.container input:checked ~ span.radio:after {
    display: block;
}

/* Style the checkmark/indicator */
label.container span.radio:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
label.amount_span {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    white-space: nowrap;
}
div.plux_minus_container {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}
input[id=amount] {
    margin-top: 0.5rem;
}

div.account_status_container {
    background-color: #91dc85;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgba(140, 40, 9, 0.62);
    box-shadow: 0 0 3rem rgb(133, 202, 122), 0 0 3rem rgb(111, 166, 102);
}
div.account_status {
    background-color: rgba(247, 248, 247, 0.29);
    border-bottom: 0.2rem solid rgba(73, 35, 24, 0.62);
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    color: rgba(14, 14, 14, 0.62);
}
div.bid_details_failure {
    align-content: center;
    background-color: rgba(250, 4, 4, 0.4);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
div.bid_details_success {
    align-content: center;
    background-color: rgba(33, 205, 7, 0.4);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
i.refresh-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size:2rem;
    color:#3377d1;
    padding: 0.5rem;
}

i.refresh-button:hover {
    color: greenyellow;
    background: rgba(244, 60, 5, 1);
    padding: 0.5rem;
}

