@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.bid_container{
    display: block;
    align-content: center;
    background-color: transparent;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(230, 6, 6, 0.3);
    margin: 0.3rem 0.5rem;
}
div.confirm_bid_container {
    display: block;
    align-content: center;
    background-color: transparent;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(230, 6, 6, 0.3);
    margin: 0.3rem 0.5rem;
    background-image: url("../images/stadium2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_container{
    margin: 0.2rem 0;
    display: block;
    align-content: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.3);
    padding: 4rem 2rem;
    background-image: url("../images/stadium.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.main-control-container {
    margin: 0.2rem 1rem;
    background: rgba(7, 7, 7, 0.27);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.2);
    padding-left: 1rem;
    padding-right: 1.5rem;
    display: block;
    align-content: center;
}
form{
    margin: 0 0.2rem;
    display: block;
    align-content: center;
    background: rgba(7, 7, 7, 0.08);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.3);
}
form input[type=number], input[type=password], input[type=text], input[type=email] {
    height: 2.5rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 0.2rem solid #ddd;
    border-radius: 1rem;
    outline: none;
    letter-spacing: 0.3rem;
}
form input[type=submit]{
    color: #fff;
    width: 95%;
    margin-left: 2.5%;
    padding: 0 0.3rem;
    background: green;
    font-size: 1.75rem;
    cursor: pointer;
    transition: 0.4s;
    display: block;
    border-radius: 1rem;
    border-width: 0.5rem;
    font-weight: bolder;
    box-shadow: 0 1rem 2rem rgba(33, 205, 7, 0.63);
}
form input[type=radio] {

}
form input:hover {
    background-color: rgb(33, 205, 7);
    color: black;
}
.form input:focus{
    box-shadow: 0 0.1rem 0 rgba(0,0,0,0.2);

}
.form a{
    font-size: 2rem;
    color: #009579;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form input.button:hover{
    background: #006653;
}
* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 2rem;
    margin-bottom: 0.5rem;
}
.sub-header {
    background-color: #34a5d5;
    color: #ffffff;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}
.footer {
    background-color: #3369cc;
    border-radius: 1rem;
    text-align: center;
    display: block;
    color: #edcf08;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgb(4, 221, 241);
    border-bottom: 0.2rem solid #3375cc;
    border-top: 0.1rem;
    padding-top: 0.3rem;
}
a:link, a:visited {
    background-color: wheat;
    color: black;
    border: 0.2rem solid green;
    padding: 0.3rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
    color: white;
}
.error {
    color: red;
    background: white;
}
.success {
    color: green;
}
.innings {
    background-color: cadetblue;
    color: #ffffff;
    padding: 2rem;
    margin-bottom: 0.5rem;
}
.play_container {
    background-color: mediumseagreen;
    color: #ffffff;
    padding: 2rem;
    margin-bottom: 0.5rem;
}
.sub-header-2 {
    background-color: #3369cc;
    color: #ffffff;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}
.gap {
    width: 100%;
    margin-bottom: 1rem;
    height: 1rem;
}
div.small-gap {
    width: 100%;
    height: 0.2rem;
}
div.smaller-gap {
    width: 100%;
    margin-bottom: 0.25rem;
    height: 0.25rem;
}
.hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 0.1rem;
    height:0.1rem;
    color:gray;
    background-color:gray
}
.body {

}
.form label[name=slot] {
    height: 4rem;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 1.3rem;
    border: 0.5rem solid #ddd;
    border-radius: 1rem;
    outline: none;
    display: block;
}

tr.win {
    outline-color: green;
    outline-style: solid;
    color: green;
}
tr.loss {
    outline-color: red;
    outline-style: solid;
    color: red;
}
tr.cancel {
    outline-color: #38d7b8;
    outline-style: solid;
    color: #0f1060;
}
a.play {
    background-color: #24f104;
}
a.play:hover {
    background-color: #edcf08;
}
a.live {
    border-radius: 6rem;
    background-color: #83fa04;
    display: block;
    margin-bottom: 0.75rem;
}
a.cancel_bid {
    border-radius: 6rem;
    background-color: #fa0404;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
.scorecard {
    background-color: #24f104;
    color: #104d9e;
    padding: 2rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    display: flex;
}
.team1 {
    float: left;
    width: 40%
}
.team2 {
    text-align: right;
    float: right;
    width: 40%;
}
a.button {
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: bolder;
    white-space: nowrap;
    padding: 0.3rem 0.5rem;
    margin: 0.4rem;
}
a.plus-minus {
    background: rgba(245, 222, 179, 0.5);
}

div.separator {
    border: 0.01rem solid #000000;
    margin: 0.5rem;
}
div.small-separator {
    border: 0.01rem solid #000000;
    margin: 0.25rem 1.5rem;
}
div.title-container {
    display: flex;
    background-color: rgba(51, 105, 204, 0.9);
    box-shadow: 0 0.5rem 0.5rem rgb(4, 221, 241);
    border-radius: 1rem;
    color: #edcf08;
    font-size: 2rem;
}

div.scorecard-container {
    margin: 0.2rem 0.2rem;
    display: block;
    align-content: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(250, 4, 4, 0.69);
    padding: 0.2rem;
    background-image: url("../images/stadium3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.detailed-scorecard-container {
    margin: 0.2rem 0.2rem;
    display: block;
    align-content: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(250, 4, 4, 0.69);
    padding: 0.2rem;
    background-image: url("../images/stadium1.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
div.match-detail {
    display: block;
    align-content: center;
    background: rgba(128, 128, 128, 0.75);
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.3);
}
div.teams_details {
    width: 50%;
    background-color: rgba(76, 213, 55, 0.7);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    margin: 0.2rem 0.3rem;
}
div.vs {
    background-color: rgba(76, 213, 55, 0.5);
    border: 0.1rem solid #339ecc;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.2rem 0.3rem;
    font-weight: bold;
    color: red;
}

div.players {
    display: flex;
}
div.players_container {
    background-color: rgba(76, 213, 55, 0.5);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
div.batsmen {
    width: 50%;
    padding: 0 1rem;
}
div.current-over {
    width: 60%;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
div.get-previous-over {
    width: 40%;
    text-align: right;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
a.show-more-over {
    border: 0.1rem solid rgba(26, 140, 9, 0.62);
    border-radius: 1rem;
    text-align: center;
    color: rgb(7, 7, 7);
    font-weight: bolder;
    padding: 0.2rem 0.75rem;
    background-color: wheat;
}
a.show-more-over:hover {
    background-color: red;
}
div.balls-container {
    padding-bottom: 0.2rem;
}
div.balls-container-extra {
    display: flex;
    padding-bottom: 0.2rem;
}
div.balls {
    background-color: #ffffff;
    border: 0.2rem solid rgba(26, 140, 9, 0.47);
    border-radius: 5rem;
    text-align: center;
    color: #070707;
    font-weight: bolder;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-bottom: 0.2rem;
}
div.balls-extra {
    background-color: #ffffff;
    border: 0.1rem solid #ccb833;
    border-radius: 2rem;
    text-align: center;
    color: #070707;
    font-weight: bolder;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}
div.controls {
    background-color: #21cd07;
    border-radius: 2.5rem;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid #f90606;
    padding: 0.1rem;
}
div.play-container {
    background-color: rgba(7, 7, 7, 0.29);
    border-bottom: 0.2rem solid #f90606;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 0.2rem 0.2rem;
    box-shadow: 0 2rem 1rem rgba(250, 4, 4, 0.5);
    display: block;
    align-content: center;
    padding: 0.2rem;
    background-image: url("../images/stadium2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.bid_slot {
    width: 25%;
}
span.title {
    font-weight: bolder;
    font-size: 1.65rem;
    padding: 0;
}
iframe {
    height: 100%;
    width: 100%;
}
div.bid_button_div {
    width: 50%;
}
a.bid_button {
    display: block;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(7, 7, 7, 0.31), 0 0 1rem rgba(0,0,0,0.24);
    font-weight: bolder;
    white-space: nowrap;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    background: grey;
}
div.title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.1rem solid #f90606;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.34);
    color: black;
    background: darkcyan;
}
div.profile {
    font-size: 0.9rem;
    color: black;
    text-align: left;
    font-weight: normal;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    display: block;
    margin: 0;
    padding: 0;
}
div.bid-failure-title {
    font-size: 2.5rem;
    background: rgba(255, 0, 0, 0.6);;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #f90606;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.34);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}
div.bid-success-title {
    background: rgba(33, 205, 7, 0.6);
    font-size: 2.5rem;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #1a8c09;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.43);
    padding-bottom: 0.3rem;
}
div.sub-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #edcf08;
    box-shadow: 0 0.5rem 0.5rem rgba(237, 207, 8, 0.4);
    padding: 0.1rem 0.3rem;
    color: wheat;
    background: #009579;
}
div.control-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid grey;
    box-shadow: 0 0.5rem 0.5rem grey;
    padding: 0.3rem;
}
label.label {
    display: block;
    position: relative;
    font-size: 1rem;
    padding: 0 0 0 1rem;
    margin: 1rem auto;
}
a.match-button {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: bold;
    font-size: 0.9rem;
}
a.control-button {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: normal;
    font-size: 0.9rem;
}
p.no-more-over-para {
    text-align: right;
    padding-right: 1rem;
    color: red;
}
div.more_over_div {
    width: 25%;
    text-align: right;
    padding-top: 0.3rem;
    padding-right: 1.5rem;
    font-style: italic;
}
div.slot_container {
    width: 100%;
    align-content: center;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgb(250, 4, 4, 0.5);
    padding-bottom: 0.2rem;
}
div.slot_container_inner {
    box-shadow: 0 1rem 1rem rgba(7, 7, 7, 0.64);
    border-radius: 1rem;
}
div.slot_container_outer {
    background-image: url("../images/stadium2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
input[type="radio"]:checked + div.slot {
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    text-shadow: 0 1rem 2rem rgba(204, 184, 51);
    letter-spacing: 0.1rem;
    box-shadow: 0 1rem 2rem rgba(33, 205, 7);
    border-radius: 1rem;
    border-color: red;
    color: greenyellow;
    background: lightsteelblue;
}
div.slot {
    width: 85%;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    box-shadow: 1rem 1rem 2rem rgb(237, 207, 8);
    border-radius: 1rem;
    padding: 0.3rem;
    color: lightcoral;
    background: rgba(250, 235, 215, 0.8);
}

label.container {
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    border-radius: 1rem;
    padding: 0.4rem;
}

/* Hide the browser's default checkbox */
input[type=radio] {
    display: none;
}

/* Style the checkmark/indicator */
label.container div.slot:after ~ input:checked{
    font-size: 2rem;
}
label.amount_span {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    white-space: nowrap;
}
div.plux_minus_container {
    display: flex;
    justify-content: space-between;
}
input[id=amount] {
    margin-top: 0.5rem;
}

div.account_status_container {
    background-color: #91dc85;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgba(140, 40, 9, 0.62);
    box-shadow: 0 0 3rem rgb(133, 202, 122), 0 0 3rem rgb(111, 166, 102);
}
div.account_status {
    background-color: rgba(247, 248, 247, 0.29);
    border-bottom: 0.2rem solid rgba(73, 35, 24, 0.62);
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    color: rgba(14, 14, 14, 0.62);
}
div.bid_details_failure {
    align-content: center;
    background-color: rgba(250, 4, 4, 0.5);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
div.bid_details_success {
    align-content: center;
    background-color: rgba(33, 205, 7, 0.7);
    border: 0.1rem solid #339ecc;
    border-radius: 0.75rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.3rem 0.3rem;
}
i.refresh-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size:2rem;
    color: cadetblue;
    padding: 1rem;
    background: wheat;
    border-radius: 2rem;
}

i.refresh-button:hover {
    background: rgba(244, 60, 5, 1);
    color: deepskyblue;
}

.bids_heading {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #f90606;
    box-shadow: 0 0.8rem 0.5rem rgba(250, 4, 4, 0.34);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
    font-size: 175%;
}

table {
    width: 100%;
    border-collapse:separate;
    border:solid black 0.2rem;
    border-radius: 1rem;
    overflow-x:scroll;
}

th, td {
    text-align: center;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
    background: rgba(189, 183, 107, 0.6);
}



h2.type_session, h2.type_winner{
    text-align: center;
}



tr.row_win{
    background-color: rgba(144, 238, 144, 0.65);
}

tr.row_loss{
    background-color: rgba(240, 128, 128, 0.52);
}
td.match_name {
    background: rgba(244, 60, 5, 0.51);
    font-size: larger;
    font-weight: bolder;
}
td.session{
    background: rgba(52, 165, 213, 0.4);
    text-align: left;
    font-weight: bold;
}
tr.row_placed{
    background-color: lightgrey;
}
a.nav_item {
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    white-space: nowrap;
    margin-bottom: 0.3rem;
}
div.timer {
    float: right;
    font-size: 0.7rem;
}
p.confirm {
    margin: 0;
}
a.secondary {
    background: rgba(51, 117, 204, 0.8);
    padding: 0.2rem;
}
a.nav {
    padding: 1rem 0.8rem;
    background: burlywood;
}
div.popup {
    background: transparent;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 1.5rem;
    border: 0.5rem solid #ccc;
    z-index: 1000;
    border-radius: 3.5rem;
}
div.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    background-image: url("../images/stadium.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a.room_button {
    width: 100%;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
div.popup-header{
    width: 100%;
    text-align: center;
}
div.popup-sub-header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.slider {
    width: 90%;
    height: 2rem;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 50%, #ddd 50%, #ddd 100%);
    border-radius: 1rem;
    outline: none;
    transition: background 0.3s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
    background: url('../images/ball.png') no-repeat center;
}

.slider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]:active {
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 50%, #888 50%, #888 100%);
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.1);
}
div.over_summary {
    background: white;
    border-radius: 1rem;
    margin: 0 1rem;
    font-weight: bold;
}
a.room {
    background-color: powderblue;
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0 0 3rem rgba(7, 7, 7, 0.31), 0 0 3rem rgba(0,0,0,0.24);
    font-weight: bolder;
    white-space: nowrap;
    padding: 0.3rem 0.5rem;
    margin: 0.4rem;
    border: 0.3rem solid cornflowerblue;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}
a.room-selected {
    background-color: greenyellow;
    border: 0.3rem solid limegreen;
    font-size: 1.2rem;
}
div.ball-six {
    background-color: rgba(0, 128, 0, 0.66);
}
div.ball-four {
    background: rgba(173, 255, 47, 0.63);
}
div.ball-extra {
    background: #339ecc;
}
div.ball-wicket {
    background: rgba(255, 0, 0, 0.53);
}
